.MuiAppBar-colorPrimary{
  background-color: #1a9df0 !important;
}
.MuiList-padding {
  padding-bottom: 390px !important;
}
.img-logo{
  width: 25%;
  padding: 5px;
  margin: 5px;
  margin-right: 110px;
  margin-left: 15px;
}
.icon-toolbar{
  margin-left: 5px;
}